* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}


@font-face {
  font-family: "Quicksand-Bold";
  src: url("./assets/fonts/Quicksand-Bold.ttf");
}
@font-face {
  font-family: "Quicksand-SemiBold";
  src: url("./assets/fonts/Quicksand-SemiBold.ttf");
}
@font-face {
  font-family: "Quicksand-Regular";
  src: url("./assets/fonts/Quicksand-Regular.ttf");
}
header {
  width: 100vw;
  height: 160px;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}
header .brand {
  display: flex;
  width: 200px;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  padding-left: 30px;
  padding-top: 20px;
}
header .brand .logo {
  width: 41px;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 50px;
  background-color: #F8F8F8;
  border: solid 5px black;
  border-radius: 50%;
  padding-left: 10px;
  padding-right: 10px;
}
header .brand .name {
  margin-top: 10px;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 20px;
}
header .menu {
  display: flex;
  width: auto;
  flex-direction: column;
  flex-grow: 2;
  justify-content: center;
  align-items: flex-end;
  margin-right: 30px;
}
header .menu h5 {
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 20px;
}
header .menu h5:hover {
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 20px;
  text-decoration: underline;
  cursor: pointer;
}

#alertCovid {
  display: flex;
  width: 100vw;
  height: 150px;
  flex-direction: column;
  align-items: center;
  background-color: rgba(158, 42, 43, 0.9);
  position: absolute;
  z-index: 2;
}
#alertCovid .animate__slideInDown {
  animation: slideInDown;
  animation-duration: 2s;
}
#alertCovid .animate__slideOutUp {
  animation: slideOutUp;
  animation-duration: 2s;
}
#alertCovid h6 {
  display: flex;
  flex-direction: row;
  font-family: "Quicksand-SemiBold";
  font-size: 30px;
  color: white;
}
#alertCovid p {
  display: flex;
  flex-direction: row;
  font-family: "Quicksand-SemiBold";
  font-size: 20px;
  color: white;
}
#alertCovid #closeAlerte {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  font-family: "Quicksand-SemiBold";
  font-size: 20px;
  color: white;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
#alertCovid #closeAlerte:hover {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  font-family: "Quicksand-SemiBold";
  font-size: 20px;
  color: white;
  text-decoration: underline;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

main {
  display: flex;
  width: 100vw;
  height: auto;
  background-color: #F0F0F0;
  box-shadow: inset 14px 62px 85px -85px rgba(0, 0, 0, 0.4);
  justify-content: center;
  z-index: 0;
}
main #containerLines {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
main #containerLines h2 {
  display: inline;
  font-family: "Quicksand-SemiBold";
  font-size: 40px;
  color: black;
}
main #containerLines .transpBlock {
  display: inline-block;
  width: 100%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
main #containerLines .transpBlock .transpClass {
  display: flex;
  flex-direction: row;
  align-items: center;
}
main #containerLines .transpBlock .transpClass svg {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: auto;
}
main #containerLines .transpBlock .transpClass h3 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-family: "Quicksand-SemiBold";
  font-size: 30px;
  color: black;
}
main #containerLines .transpBlock .list {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}
main #containerLines .transpBlock .list .lineName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 60px;
  margin: 20px;
  border-radius: 20px 20px;
  background-color: #9E2A2B;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-family: "Quicksand-SemiBold";
  font-size: 25px;
}
main #containerLines .transpBlock .list .lineName:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 60px;
  margin: 20px;
  border-radius: 20px 20px;
  background-color: #9E2A2B;
  cursor: pointer;
  color: white;
  font-family: "Quicksand-SemiBold";
  font-size: 30px;
  text-decoration: underline;
}
main #containerDetails {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
main #containerDetails #header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: auto;
}
main #containerDetails #header h2 {
  color: black;
  font-family: "Quicksand-SemiBold";
  font-size: 30px;
}
main #containerDetails #header #lineNumber {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
main #containerDetails #header #lineNumber .number {
  display: flex;
  align-self: center;
  justify-content: center;
  font-family: "Quicksand-SemiBold";
  font-size: 42px;
  color: white;
  width: 100px;
  height: 60px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px 20px;
  background-color: #9E2A2B;
}
main #containerDetails #header #lineNumber p {
  font-family: "Quicksand-SemiBold";
  color: black;
  font-size: 18px;
}
main #containerDetails #header #addFav {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: transparent;
}
main #containerDetails #header #addFav svg {
  width: 30px;
  height: auto;
}
main #containerDetails #header #addFav svg:hover {
  width: 30px;
  height: auto;
}
main #containerDetails #header #addFav svg:hover path {
  fill: blue;
}
main #containerDetails .itineraire {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding-top: 50px;
  align-items: flex-start;
}
main #containerDetails .itineraire h3 {
  display: inline;
  margin-left: 30px;
  font-family: "Quicksand-SemiBold";
  font-size: 25px;
  color: black;
}
main #containerDetails .itineraire svg {
  height: 30px;
  margin-left: 30px;
}
main #containerDetails .tab {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  height: auto;
  table-layout: auto;
  border-collapse: collapse;
}
main #containerDetails .tab thead {
  border-bottom: solid 2px grey;
}
main #containerDetails .tab thead .arretsCol {
  font-family: "Quicksand-SemiBold";
  font-size: 20px;
  color: black;
}
main #containerDetails .tab thead .horairesCol {
  font-family: "Quicksand-SemiBold";
  font-size: 20px;
  color: black;
  margin-left: 30px;
}
main #containerDetails .tab tbody {
  padding: 30px;
  margin: 30px;
}
main #containerDetails .tab tbody tr {
  padding: 20px;
  border-bottom: solid 1px grey;
}
main #containerDetails .tab tbody td {
  font-family: "Quicksand-Regular";
  font-size: 20px;
  color: black;
}
main #containerDetails .tab tbody .arret {
  width: 50%;
}
main #containerDetails #laCarte {
  margin: 50px;
  padding: 30px;
  height: 600px;
  width: 80%;
}
main #containerDetails #return {
  width: 200px;
  height: auto;
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
}
main #containerFavoris {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
}
main #containerFavoris h2 {
  display: inline;
  font-family: "Quicksand-SemiBold";
  font-size: 40px;
  color: black;
}
main #containerFavoris #favList #lineNumber {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
main #containerFavoris #favList #lineNumber .number {
  display: flex;
  align-self: center;
  justify-content: center;
  font-family: "Quicksand-SemiBold";
  font-size: 42px;
  color: white;
  width: 100px;
  height: 60px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px 20px;
  background-color: #9E2A2B;
}
main #containerFavoris #favList #lineNumber p {
  font-family: "Quicksand-SemiBold";
  color: black;
  font-size: 18px;
}
main #containerFavoris #return {
  width: 200px;
  height: auto;
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
}

footer {
  width: 100vw;
  height: 50px;
  background-color: #f8f8f8;
  box-shadow: 1px 26px 49px -4px black;
}

/*# sourceMappingURL=prod.css.map */
